
<h1>
<% if current_user.avatar? %>
<img src="<%= current_user.avatar %>" alt="">
<% else %>
  <%= link_to gravatar_for(current_user, size: 50), current_user %>
<% end %>
<%= current_user.name %>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
</h1>
<ul>
  <li>フォロー</li>
  <li>フォローワー</li>
</ul>
